body {
    margin: 0;
    font-family: sans-serif;
}

article {
    display: flex;
    flex-direction: column;
}

nav {
    background: hsl(212,63%,60%);
    display: flex;
    flex: 1 50px;
}

header {
    background: hsl(212,100%,85%);
}

main {
    background: hsl(210,17%,93%);
    flex: 6;
    padding: 1rem;
}

#signup {
    background: hsl(212,95%,92%);
}

#feature-1 {
    background: hsl(38,84%,76%);
}
#feature-2 {
    background: hsl(358,74%,77%);
}
#feature-3 {
    background: hsl(242,87%,88%);
}

header,
section {
    flex: 40vw;
}

header, section, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 500px) and (max-width:899px) {
    article {
        flex-flow: row wrap;
    }
    nav {
        min-height: 50px;
    }

    nav, main, header {
        flex: 100%;
    }

    section {
        height: 50vw;
    }

    header {
        height: 25vw;
    }
}

@media screen and (min-width: 900px) {
    article {
        flex-flow: row wrap;
    }
    nav {
        min-height: 50px;
    }

    nav, main, header {
        flex: 100%;
    }

    .feature {
        flex: calc(100vw / 3);
        min-height: calc((100vw/3) * 1.25);
    }

    #signup {
        order: 1;
        height: 150px;
        min-height: auto;
    }

    header {
        height: 25vw;
    }

    main {
        order: 2;
    }
}